<!DOCTYPE html>
<html ng-app="angularUsage">

  <head>    
    <title>Manage Employees</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>   
  </head>

  <body>

    <%= render 'layouts/header' %>
    <%= yield %>

  </body>

</html>